{% extends "layout.html" %}

{% block title%}
    Eat
{% endblock %}

{% block body %}
    <div class="row p-4 mb-3">
        
        <table class="table table-bordered" style="table-layout: auto;">

            <thead class="table-dark">
                <tr style="text-align: center;">
                    <td style="width: 20%;">Menu</td>
                    <td style="width: 75%;">Description</td>
                    <td style="width: 5%;">Eat it!</td>
                </tr>
            </thead>
            <tbody>
                {% for row in dishes %}
                
                <tr id="menu_{{loop.index}}">
                    <td>
                        <div class="container-fluid">
                            <p id="dish_name_{{loop.index}}">{{row["dish"]}}</p>
                        </div>
                    </td>
                    <td>
                        <div class="container-fluid">
                            <p>{{row["description"]}}</p>
                        </div>
                    </td>
                    <form action="/eat/remove" method="post">
                        <td style="text-align: center;"><button type="submit"class="btn btn-warning" value="{{row.dish}}" name="{{loop.index}}" id="{{loop.index}}" onclick="alert_fun(this.id)">Eat</button></td>
                    </form>
                </tr>
                {% endfor %}
                {% if not dishes %}
                    <tr>
                        <td><h5>No Dishes yet...Make your Dish.</h5></td>
                        <td></td>
                        <td></td>
                    </tr>
                {% endif%}
            </tbody>

        </table>
    </div>

    <div class="row mt-3 p-4">
        <form action="/eat" method="post">
            {% if name_error %}
            <div class="mb-3 w-25">
                <label for="dish" class="form-label">Dish</label>
                <input type="text" class="form-control col-sm-10 is-invalid" id="dish" placeholder="Name" name="dish">
                <div id="validationServerUsernameFeedback" class="invalid-feedback">
                    {{name_error}}
                  </div>
            </div>
            {% else %}
            <div class="mb-3 w-25">
                <label for="dish" class="form-label">Dish</label>
                <input type="text" class="form-control col-sm-10 " id="dish" placeholder="Name" name="dish" value="{{name}}">
            </div>
            {% endif %}

            {% if des_error %}
            <div class="mb-3 w-75">
                <label for="description" class="form-label">How to Eat it !</label>
                <textarea class="form-control is-invalid" id="description" name="description" placeholder="Description about your dish" rows="3">{{description}}</textarea>
                <div id="validationServerUsernameFeedback" class="invalid-feedback">
                    {{des_error}}
                  </div>
            </div>
            {% else %}
            <div class="mb-3 w-75">
                <label for="description" class="form-label">How to Eat it !</label>
                <textarea class="form-control" id="description" name="description" placeholder="Description about your dish" rows="3">{{description}}</textarea>
            </div>
            {% endif %}

            <div class="mb-3">
                <button type="submit" class="btn btn-outline-warning">Add To Menu</button>
            </div>
        </form>
    </div>

{% endblock %}