{% extends "layout.html" %}

{% block title %}
    Hear | For Future Me
{% endblock %}

{% block body %}
    <div classs="row p-4 mb-3 blackbg" style="padding-top: 20px;">
        <p>
            <a class="show" data-bs-toggle="collapse" href="#about-hear" role="button" style="border-radius: 5%; color: #2dc2c2; font-size: large;" aria-expanded="false" aria-controls="collapseExample">
            Click: About Hear &#8595;
            </a>
        </p>
        <div class="collapse" id="about-hear">
            <div class="card card-body blackbg about_text" style="color: rgb(179, 177, 177);border-color:#23a5a5; ">
                <p> After slicing the day, feed your brain some great stuff. I always used to hear great ideas from great people in the form of podcasts. This step is up to you. Frame this step before you start, but avoid videos; just hear, please. Hey, don't worry if you had no idea about it. I am here to help you. I will keep uploading what I hear.</p>
                <p>&#36; Just Hear.</p>
            </div>
        </div>
    </div>
        {% include "hearing.html" %}
        <div style="height: 60px;"></div>
   
{% endblock %}