<div class="row p-4 blackbg" style="padding-top: 40px;">
    <div class="clearfix p-3" style="margin-left: auto; display: flex; justify-content: center; z-index: 500; position: relative;">
        <div class="card bg-dark" style="width: 17rem; color:rgb(179, 177, 177)">
          <img class="card-img-top" src="static/jim_rohn.jpg" alt="Classic Reload">
          <div class="card-body">
            <h5 class="card-title">Jim Rohn</h5>
            <p class="card-text">Seven Strategies of Wealth and Happiness</p>
            <a href="https://open.spotify.com/episode/5wGMkCBjI1DuX2ExRQEpxa?si=V4UCc6nrQNix21zN2rI6Aw" class="btn btn-primary">Let's Hear</a>
          </div>
        </div>
      </div>
      <p class="display-6 about_text cards-disc-r under_hearing">This is the best thing I have heard. Its value is very high, but we can hear it for free. How amazing. Please try it; it contains more than you think.</p>
</div>


<div class="row p-4 blackbg" style="margin-top: 70px;">
    <div class="clearfix p-3" style="margin-left: auto; display: flex; justify-content: center; z-index: 500; position: relative;">
        <div class="card bg-dark" style="width: 17rem; color:rgb(179, 177, 177);">
          <img class="card-img-top" src="static/etfrog.jpg" alt="Classic Reload">
          <div class="card-body">
            <h5 class="card-title">Brain Tracy</h5>
            <p class="card-text">Eat That Frog!</p>
            <a href="https://open.spotify.com/album/23L2WU0nAGfUohQSS6hKHl?si=QoTPJshOQouf2S9zwzmBVQ" class="btn btn-primary">Let's Hear</a>
          </div>
        </div>
      </div>
      <p class="display-6 about_text cards-disc-r under_hearing">When I got confused, this crazy-named book's podcast gave me an extracted idea of how to prioritise my works.</p>
</div>

<div class="row p-4 blackbg" style="margin-top: 70px;">
    <div class="clearfix p-3" style="margin-left: auto; display: flex; justify-content: center; z-index: 500; position: relative; ">
        <div class="card bg-dark" style="width: 17rem; color:rgb(179, 177, 177)">
          <img class="card-img-top" src="static/psymoney.jpg" alt="Classic Reload">
          <div class="card-body">
            <h5 class="card-title">Morgan Housel</h5>
            <p class="card-text">The Psychology of Money</p>
            <a href="https://open.spotify.com/episode/1EFW1XZwSIJMaidRG4tCoL?si=7_yvStZtTDSW4hK4fKHoeg" class="btn btn-primary">Let's Hear</a>
          </div>
        </div>
      </div>
      <p class="display-6 about_text cards-disc-r under_hearing">Doing well with money isn't necessarily about what you know. It's about how you behave. And behavior is hard to teach, even to really smart people. But it will make it easy.</p>
</div>
