{% extends "layout.html" %}

{% block title%}
    For Future Me/Home
{% endblock %}

{% block body %}
    <div class="row p-3">
        <h1 class="display-4" style="text-align: justify; color: rgb(179, 177, 177);">"Success is not something you pursue; It's something you attract</h1>
        <h1 class="display-4" style="text-align:end; color: rgb(179, 177, 177);">-JIM ROHN"</h1>

        <div class="row p-3" style="display: inline;">
            <img src="static/center.png" alt="Own NFT" style="float:left; width: 150px; height: 420px;">
            <div class="txt_af_img">
                <p> Firts of all, Welcome to "For Future Me". Great to have you here. My self is Pradhul Kannan M. The main and only purpose for making this website is to tell my future self (future Pk) that "I had done my first ever independent and very disciplined job. Yeah, there are some ons and offs, but it's only during the final project. I overcame lots of regrets but enjoyed all those disciplined days. I enjoyed time with my family, but beyond my family time, I love every bits and pieces of coding stuff. Sometimes experienced some sleepless nights just because of not typing enough codes. Hmmm... Love the coding and logics. I even made some new friends from Pakistan. Won cs50 quiz just because of them. And Mr. Pradhul Kannan, remember, it's all just for more and just for... Ha... All the best for "A Very Happy Life my boy." I am sure you are living it.</p>
            </div>
        </div>
    </div>
    <div class="row p-3" style="margin-top: 30px;">
        <h1 class="text-center" style="color: rgb(179, 177, 177);">About This Site</h1>
        
        <p class="txt_wi_img">About This Site: 
            If you read the above message, then you may came to know that I had done something that's the start of my new life, which I changed, may be changed myself for my future self. This website is a web version of my process and a small strategy that I used and got tremendous results from. And here it is for you in a snack sized container with everything stuffed inside it. You can try this, and you will get your result, my dear friend. Keep engaged with this site; I will keep updating it till someone like me gets his/her desiered result. "All the Very best for your best future."
            <a class="show" data-bs-toggle="collapse" href="#collapsehome" role="button" style="border-radius: 5%; color: #750133; font-size: large; text-decoration:none; font-weight: bold;" aria-expanded="false" aria-controls="collapseExample">
                Click: GUIDE &#8595;</a>

                <div class="collapse" id="collapsehome" >
                    <div class="card card-body blackbg about_text" style="color: rgba(195, 195, 195, 0.804); border-color:#750133;">
                        <p>	Well, first of all, this site is built to create a new productive system or develop an existing productive system. I call it as five-day-a-week system. Starting from Monday, which is the 0th day, to Sunday, which is the nul day. And at every numeric day from the 0th day to the 5th day, stay focused. Focus on the things you need to do, including your personal development. At the nul day, don't even think about your work and enjoy as much as you can. This is the key concept of this site.</p>
                        <p>&#36; Okay, we looked up the bigger picture, and it's time to extract it. As every numeric day was a working day, if you had no idea how to do something or were stuck with confusion about what to do first, then you really needed to plan your goal before. The Eat section will help you exactly do this. Think of your work or goal as a dish. Store your daily dishes to eat. If the dish is stored and not eaten, it will spoil. You can't eat a three-day-old dish on the fourth day. So try to eat the dish on the day it is prepared. So create a dish (your goals) and its description (what actually to do or How to do it) inside the eat section and eat it when it is done.</p>
                        <p>&#36; Eat all your dishes prepared on that day and come to the end of the day? Now it's time to slice it up. Just go to the current day you are on to slice it up. Hey, don't worry If you have not ate your dishes for some unexpected reason, It may happen some times. But If your heart was fully satisfied or in some cases accepted the reason for not eaten the goals, Then pleae don't forget to slice the day up. Even If you took break at that day intenstionally, Just slice it up. Because you are under your control, you decided to took break. And a kind recommendation: Just before slicing, I always used to record the highlighted points from every day in a physical journal. It works great for me to use those points or events to fine-tune my future days. So I recommend you try this.</p> 
                        <p>&#36; After slicing, don't simply end the day. Try to hear some really good stuff. That may be for your personal development or about the thing you are learning or doing. The thing you heard before going to sleep will drive into your subconscious mind, and you may come up with a new idea extracted from the words of the proven personalities. So before sleep Hear somethig good that is relevant to you. Try to avoid videos, Hear something in audio format. I will post what I hear regularly inside the hear section. That will help you out.</p>
                        <p>&#36; At last, everything should be recorded to improve. A school without an attendance record will not be a school; it will be a park where anyone can come at any time or day. So this site will store all your records, just to improve you. If you doubt your process or get stuck at some point, just go to the dashboard section and see where you came from and how far you've come. </p>
                    </div>
                </div>
        </p>
        <p class="txt_wi_img">"Eat" -"Slice" - "Hear"--(If stuck, then just visit "Dashboard" and see where you come from...)</p>
        
    </div>
    <div class="p-2" style="text-align: center;">
        <img src="static/testing4.gif" class="resimg" rel="guide">
    </div>
{% endblock %}
