{% extends "layout.html" %}

{% block title %}
    Login | For Future Me
{% endblock %}


{% block body %}
    <div class="row p-4"></div>
    <div class="row p-3 mx-auto">
        <h6 class="display-6 text-center" style="padding-bottom: 20px; color: rgb(179, 177, 177);">Log In</h6>
        
        <form action="/login" method="post" class="reslog mx-auto">
            {% if name_error %}
            <div class="form-floating mb-3">
                <input type="text" class="form-control is-invalid" id="floatingInput" autocomplete="off" placeholder="username" name="username" value="{{user_name}}">
                <label for="floatingInput">User Name</label>
                <div id="validationServerUsernameFeedback" class="invalid-feedback">
                    {{name_error}}
                  </div>
            </div>
            {% else %}
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" autocomplete="off" placeholder="username" name="username" value="{{user_name}}">
                <label for="floatingInput">User Name</label>
            </div>
            {% endif %}

            {% if pass_error %}
            <div class="form-floating">
                <input type="password" class="form-control is-invalid" autocomplete = "off" id="floatingPassword" placeholder="Password" name="password">
                <label for="floatingPassword">Password</label>
                <div id="validationServerUsernameFeedback" class="invalid-feedback">
                    {{pass_error}}
                  </div>
            </div>
            {% else %}
            <div class="form-floating">
                <input type="password" class="form-control" autocomplete = "off" id="floatingPassword" placeholder="Password" name="password">
                <label for="floatingPassword">Password</label>
            </div>
            {% endif %}
            
            <div style="text-align: center; padding-top: 5%;">
                <button type="submit" class="btn btn-outline-info btn-lg justify-content-center">Login</button>
            </div>
        </form>
    </div>
{% endblock %}